<!doctype html>

<html>
<body>

<h1>Output:</h1>

<pre>
interface {{result.interface}}
{%- if result.router_type == 'cisco_iosxr' %} 
  description {{result.cid}} | {{result.service_name}}:{{result.service_description}}{% if result.remote_hostname %} | {{result.remote_hostname}}{%endif%}{% if result.remote_interface %}:{{result.remote_interface}}{%endif%}
 {%- if result.ipv6_address%}
  ipv6 address {{result.ipv6_address.with_prefixlen}}
  flow ipv6 monitor NFMON sample NFSAMPLER ingress
  {%- if not result.nov6acl%}
  ipv6 access-group v6bogons ingress
  ipv6 access-group v6bogons egress
  {%- endif %}
 {%- endif %}
 {%- if result.ipv4_address%}
  ipv4 address {{result.ipv4_address.with_prefixlen}}
  flow ipv4 monitor NFMON sample NFSAMPLER ingress
  {%- if not result.nov4acl%}
  ipv4 access-group v4bogons ingress
  ipv4 access-group v4bogons egress
  {%- endif %}
 {%- endif %}
 {%- if result.rate_limit %}
  service-policy input {{result.rate_limit}}
  service-policy output {{result.rate_limit}}
 {%- endif %}
 {%- if result.encapsulation %}
  encapsulation dot1q {{result.encapsulation}}
 {%- endif %}
{%- endif -%}

{%- if result.router_type == 'cisco_ios' %} 
  description {{result.cid}} | {{result.service_name}}:{{result.service_description}}{% if result.remote_hostname %} | {{result.remote_hostname}}{%endif%}{% if result.remote_interface %}:{{result.remote_interface}}{%endif%}
 {%- if result.ipv6_address%}
  ipv6 address {{result.ipv6_address.with_prefixlen}}
  ipv6 flow ingress
  {%- if not result.nov6acl%}
  ipv6 access-group v6bogons in
  ipv6 access-group v6bogons out
  {%- endif %}
 {%- endif %}
 {%- if result.ipv4_address%}
  ip address {{result.ipv4_address.ip}} {{result.ipv4_mask}}
  ip flow ingress
  {%- if not result.nov4acl%}
  ip access-group v4bogons in
  ip access-group v4bogons out
  {%- endif %}
 {%- endif %}
 {%- if result.rate_limit %}
  service-policy input {{result.rate_limit}}
  service-policy output {{result.rate_limit}}
 {%- endif %}
 {%- if result.encapsulation %}
  encapsulation dot1q {{result.encapsulation}}
 {%- endif %}
{%- endif -%}

{%- if result.router_type == 'brocade_netiron' %} 
  port-name {{result.cid}} | {{result.service_name}}:{{result.service_description}}{% if result.remote_hostname %} | {{result.remote_hostname}}{%endif%}{% if result.remote_interface %}:{{result.remote_interface}}{%endif%}
 {%- if result.ipv6_address%}
  ipv6 address {{result.ipv6_address.with_prefixlen}}
  {%- if not result.nov6acl%}
  ipv6 access-group v6bogons in
  ipv6 access-group v6bogons out
  {%- endif %}
 {%- endif %}
 {%- if result.ipv4_address%}
  ip address {{result.ipv4_address.with_prefixlen}}
  {%- if not result.nov4acl%}
  ip access-group v4bogons in
  ip access-group v4bogons out
  {%- endif %}
 {%- endif %}
 {%- if result.ipv4_address or result.ipv6_address %}
  sflow forwarding
 {%- endif %}
{%- endif %}

{%- if result.router_type == 'brocade_fastiron' %} 
  port-name {{result.cid}} | {{result.service_name}}:{{result.service_description}}{% if result.remote_hostname %} | {{result.remote_hostname}}{%endif%}{% if result.remote_interface %}:{{result.remote_interface}}{%endif%}
 {%- if result.ipv6_address%}
  ipv6 address {{result.ipv6_address.with_prefixlen}}
  {%- if not result.nov6acl%}
  ipv6 access-group v6bogons in
  ipv6 access-group v6bogons out
  {%- endif %}
 {%- endif %}
 {%- if result.ipv4_address%}
  ip address {{result.ipv4_address.with_prefixlen}}
  {%- if not result.nov4acl%}
  ip access-group v4bogons in
  ip access-group v4bogons out
  {%- endif %}
 {%- endif %}
 {%- if result.ipv4_address or result.ipv6_address %}
  sflow forwarding
 {%- endif %}
{%- endif %}
</pre>
</body>
</html>
